<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Server name-->
		<add key="DataSource" value="np:\\.\pipe\LOCALDB#0E83AA74\tsql\query"/>
		
		<!--Database name-->
		<add key="InitialCatalog" value="musicplayer"/>
		
		<!--When using Windows authentication, set this to "true", otherwise set this to "false"-->
		<add key="IntegratedSecurity" value="true"/>
		
		<!--When using SQL server authentication, input your SQL server credentials-->
		<add key="UserID" value=""/>
		<add key="Password" value=""/>		
	</appSettings>
</configuration>