jtar/Jtar/bin
jtar/Jtar/obj
jtar/global.json

jtar/Tests/bin
jtar/Tests/obj

jtar/Decompressor/bin
jtar/Decompressor/obj

jtar/*.zstd
jtar/*.tar

*.DS_Store
*.vscode
*.vs
*.drawio.bkp
*.tar.zstd

# musicplayer
musicplayer/musicplayer/bin
musicplayer/musicplayer/obj
musicplayer/global.json
musicplayer/.vs/