jtar/Jtar/bin
jtar/Jtar/obj
jtar/global.json

jtar/Tests/bin
jtar/Tests/obj

jtar/Decompressor/bin
jtar/Decompressor/obj

jtar/*.zstd
jtar/*.tar

*.DS_Store
*.vscode
*.vs
*.drawio.bkp
*.tar.zstd

# musicplayer
d1-musicplayer/musicplayer/bin
d1-musicplayer/musicplayer/obj
d1-musicplayer/global.json
d1-musicplayer/.vs/

bank/Bank/bin
bank/Bank/obj
bank/global.json
bank/.vs/
